li{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;

}

ul{
    background-color: #444;
    text-align: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}

h1{
    font-size: 28px;
}

.header_p{
    font-style: italic;
}

p{
    font-size: 24px;
}

body{
    margin-left: 0px;
    margin-top: 0px;
    padding: 0px;
    width: fit-content;
    background-color: #cccccc;
    align-content:baseline;
}

section{
    margin-left: 20px;
}

footer{
    background-color: #444;
    text-align: center;
    color: #ffffff;
}
